@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* @font-face {
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
    font-family: 'Inter', sans-serif;
} */

.comment_form {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    /* gap: 1em; */
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.comment_block {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.comment_photo_img {
    border-radius: 50px;
}

.user_name {
    /* font-family: 'Inter'; */
    font-weight: 500;
    /* font-size: 18px;
    line-height: 22px; */
    color: #122AC0;
}

.comment_content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
}

.comment_container {
    display: flex; 
    justify-content: space-between; 
}

.comment {
    width: 75%;
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* border-color: ; */
    border: none;
    resize: none;
    padding: 5px;
}


.comment_submit {
    width: 20%;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    /* height: 50%; */
}

.comment_submit:enabled {
    background-color: #ABD873;
    border: none;
}

/*цвет активной кнопки  #ABD873, неактивной - #A1A1A1 */
